.domeform {
    /* color: rgb(255, 255, 255); */
    padding-bottom: 15px;
    padding: 10px;
    border: 2px solid rgb(209, 85, 85);
    background-color: rgb(207, 253, 255);
    color: rgb(40, 21, 108);
    height: 500px;
}

.domeform_text {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.statlab {
    padding: 5px;
    border: 2px solid rgb(209, 85, 85);
}