.domeform {
    padding-bottom: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 196);
    height: 500px;
    border-radius: 20px;
}

.domeform_text {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.statlab {
    padding: 5px;
    border: 2px solid rgb(209, 85, 85);
}

.warnflag {
    padding-top: 5px;
}