.filterform {
    /* color: rgb(255, 255, 255); */
    padding-bottom: 15px;
    padding: 10px;
    border: 2px solid rgb(209, 85, 85);
    color: rgb(209, 85, 85);
    background-color: rgb(255, 255, 196);
    color: rgb(76, 66, 112);
    height: 500px;
}

.filterform_text {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.filterform_text2 {
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.input-label {
    background-color: rgb(85, 126, 209);
    color: rgb(255, 255, 255);
}

.buttoncolumn {
    width: 35%;
}

.buttoncolumn2 {
    border: 2px solid rgb(209, 85, 85);
    width: 35%;
}

.statlab {
    padding: 5px;
    border: 2px solid rgb(209, 85, 85);
}