.filterform {
    padding-bottom: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 196);
    height: 500px;
    border-radius: 20px;
}

.filterform_text {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.buttoncolumn {
    width: 35%;
}

.buttoncolumn2 {
    border: 2px solid rgb(209, 85, 85);
    width: 35%;
}

.statlab {
    padding: 5px;
    border: 2px solid rgb(209, 85, 85);
}